*.class
*.log

# sbt specific
.cache
.lib/
dist/*
target/
lib_managed/
src_managed/
project/

.scala_dependencies
.worksheet

### JetBrains template
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
